.box.about-box {
  flex-flow: row nowrap;
}

.about__title {
  & > path,
  & > circle {
    stroke: $font-light;
  }

  & > circle {
    fill: $font-light;
  }

  width: 70%;
  margin-bottom: 2rem;
}

.about__image {
  width: 40%;
  height: 85%;
  margin-right: 10rem;
  background: black;
}
