.home__deer {
  width: 31rem;

  .d,
  .e,
  .f {
    fill: none;
  }
  .ba {
    stroke-width: 3px;
    stroke: $light-element;
    fill: $light-element;
  }
  .bb {
    fill: $light-element;
  }
  .d,
  .e,
  .f {
    stroke-linecap: round;
  }
  .d {
    stroke-linejoin: bevel;
    stroke: $accent;
    stroke-width: 5px;
  }
  .e,
  .f {
    stroke: $font-dark;
    stroke-width: 8px;
  }
  .e {
    stroke-miterlimit: 10;
  }
  .f {
    stroke-linejoin: round;
  }
}

@media (max-width: 540px) {
  .home__deer {
    width: 75vw;
    margin-top: 0;
    left: 0;
  }

  .home__deer-container {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 280px) {
  .home-box {
    min-height: 100%;
    top: 0;
  }
}
