.box.home-box {
  flex-flow: row nowrap;
}

.home__deer-container {
  position: absolute;
  z-index: 5;
  margin-bottom: 11.3rem;
  width: 33rem;
  height: 33rem;
  overflow: hidden;
  transform: rotate(45deg);
}

.home__deer-box {
  position: relative;
  transform: rotate(-45deg);
}

.home__deer {
  margin-top: 2rem;
  left: -31.5%;
  position: absolute;
  width: 31rem;

  .d,
  .e,
  .f {
    fill: none;
  }
  .ba {
    stroke-width: 3px;
    stroke: $light-element;
    fill: $light-element;
  }
  .bb {
    fill: $light-element;
  }
  .d,
  .e,
  .f {
    stroke-linecap: round;
  }
  .d {
    stroke-linejoin: bevel;
    stroke: $accent;
    stroke-width: 5px;
  }
  .e,
  .f {
    stroke: $font-dark;
    stroke-width: 8px;
  }
  .e {
    stroke-miterlimit: 10;
  }
  .f {
    stroke-linejoin: round;
  }
}
