[class*="nav"] {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.nav__bottom {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 12.5%;
}

.nav__left {
  left: 0;
  top: 0;
  width: 7.5%;
  height: 100vh;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.nav__right {
  right: 0;
  top: 0;
  width: 7.5%;
  height: 100vh;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.nav__bottom-link {
  position: relative;
  background: $light-element;
  cursor: pointer;
  width: 22rem;
  height: 4rem;
}

.nav__right-link,
.nav__left-link {
  position: relative;
  background: $light-element;
  cursor: pointer;
  width: 4rem;
  height: 22rem;
}

.nav__left-back,
.nav__right-back {
  width: 4.5rem;
  height: 22.5rem;
  background: $accent;
  position: absolute;
  transform: rotate(2deg);
  -webkit-box-shadow: -4px 8px 33px -8px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -4px 8px 33px -8px rgba(0, 0, 0, 0.45);
  box-shadow: -4px 8px 33px -8px rgba(0, 0, 0, 0.45);
}

.nav__right-back {
  transform: rotate(-2deg);
}

.nav__bottom-back {
  width: 22.5rem;
  height: 4.5rem;
  background: $accent;
  position: absolute;
  transform: rotate(2deg);
  -webkit-box-shadow: -4px 8px 33px -8px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -4px 8px 33px -8px rgba(0, 0, 0, 0.45);
  box-shadow: -4px 8px 33px -8px rgba(0, 0, 0, 0.45);
}

.nav__side-text {
  width: 50%;
}

.nav__bottom-text {
  height: 140%;
}

.hm {
  height: 90%;
}
