$main-color: #161a1d;
$background-color: #b1a7a6;
$light-element: #d3d3d3;
$accent: #660708;
$accent-light: #a4161a;
$font-dark: #0b090a;
$font-light: #f5f3f4;
$placeholder-font: "Roboto", sans-serif;
$regular-font: "Roboto Condensed", sans-serif;
