$main-color: #161a1d;
$background-color: #b1a7a6;
$light-element: #d3d3d3;
$accent: #660708;
$accent-light: #ba181b;
$font-dark: #0b090a;
$font-light: #f5f3f4;
$title-font: "Parisienne", cursive;
$regular-font: "Roboto Condensed", sans-serif;
